.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 15px;
  color: var(--pink);
  background-color: var(--offWhite);
}

.footer_link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--pink);
}
