.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  background-color: var(--pink);
  font-weight: 700;
  font-size: 16px;
}

.header_menu {
  cursor: pointer;
}

/* responsive layout */
@media only screen and (min-width: 750px) {
  .header_menu {
    display: none;
  }
}
